body, html {
  height: 100%;
  background-color: #C8F1F7;
}
.parallax {
  background-image: url("image/quiche.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  width: 32%;
  border: 10px solid #C8F1F7;
  clip-path: circle();
}
.row {
  width: 100%;
  margin-bottom: 30px;
  background-color: #C8F1F7;
  display: flex;
}
h1{
  text-align: center;
  font-size: 80px;
  color: #C6ABE0;
}
.item {
width: 40%;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
float: right;
}


/* #C8F1F7 #FFC65C #A1CC85 #C6ABE0 #FFCEC2*/
